# 환경 변수 파일
.env

# Python 관련
__pycache__/
*.pyc
*.pyo
*.pyd

# 가상환경 폴더
venv/
.env/
.venv/
env/

# IDE 설정
.vscode/
.idea/

# 로그 및 임시파일
*.log
*.tmp

#각종 캐시
.claude/
.chainlit/

# OS 기본 생성 파일
.DS_Store
Thumbs.db
