# Core Dependencies
python-dotenv==1.1.0

# Chainlit UI
chainlit>=1.4.0

# LangChain and OpenAI
langchain-core==0.3.36
langchain-openai==0.2.14
langchain-mcp-adapters==0.1.6
langgraph==0.2.60

# MCP Server
mcp==1.17.0
fastmcp==2.12.4

# Data Analysis
pandas==2.2.3
matplotlib==3.10.0
seaborn==0.13.2

# Machine Learning
scikit-learn==1.6.1

#hi
